<div id="footerwrap">
            <div class="container">
                        <div class="row">
                                    <div class="footer-content-left">
                                                <p class="footer-text mail">
                                                            <a href="mailto:bitslit@gmail.com">bitslit@gmail.com</a>
                                                </p><br>
                                                <h5>Copyright © 2016 BitSlit. All right reserved.</h5>
                                    </div>
                                    <div class="footer-content-right">
                                                <p>
                                                            {% for network in site.social %}
                                                            <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                                                            {% endfor %}
                                                </p>
                        </div><! --/row -->
            </div><! --/container -->
</div><! --/footerwrap -->
