<div id="footerwrap">
            <div class="container">
                        <div class="centered">
                                    <div class="col-lg-4">
                                                <h6>Copyright © 2016 BitSlit. All right reserved.</h6>
                                                <p class="footer-text mail">
                                                            <a href="mailto:bitslit@gmail.com"><h6>bitslit@gmail.com</h6></a>
                                                </p>
                                    </div>
                                    <div class="col-lg-4">
                                                <p>
                                                            {% for network in site.social %}
                                                            <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                                                            {% endfor %}
                                                </p>
                                    </div>
                                    <div class="col-lg-4">
                                                <img src="../portfolio/assets/logovan3.png" />
                                    </div>
                                 
                        </div><! --/row -->
            </div><! --/container -->
</div><! --/footerwrap -->
