<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h6>Copyright © 2016 BitSlit. All right reserved.</h6>
                <div align="right">
                {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
