<div id="headerwrap">
    <div class="container fadeInDown animated">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Welcome to BitSlit!</h1>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/logovan.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3>We are a team of two logo designers who are helping companies to resolve their brand identity problems.</h3>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
