<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Welcome to BitSlit!</h1>
                <h3>We are here with you to help you create something beautiful.</h3>
                <h5></h5>				
            </div>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <div class="col-lg-9 col-lg-offset-3 himg">
                <img src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
