<div id="headerwrap">
	<div id="headerwrap-back"></div>
    <div class="container fadeIn animated">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Hello there!</h1>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3>We are a small, newly formed team of graphic designers<br>who are offering their services to the world.</h3>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
