<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.categories['project'] limit:include.limit %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                    <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                                <a data-rel="prettyPhoto" href="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->			
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->


<div id="aboutwrap">
<div id="aoverlay"></div>
	<div class="container mtb fadeInLeft animated">
    <div class="row">
        <div class="col-lg-8">
            <h4>More About Us.</h4>
            <div class="hline"></div>
                <p>Originally, BitSplit was founded by a group of 4 people from Serbia who wanted to create an enterprise website that would offer services in graphic design and web coding. Unfortunatelly, the whole project suffered a breakdown since there was no atc on it.</p>
            	<p>Later that year, half of the group decided to continue working on the project.</p>
            	<p>So, today, we present you <b>BitSlit</b>, team of two! A small team who offers services in graphic design area. Yes, we are small, but that only means that we will be more committed to every project we get hired for.</p>
                <p>We are open 24/7 for new projects or answering your questions.</p>
                <p>Looking forward to working with you.<br>Best regards,</p>
                <p>BitSlit team.</p>
        </div><! --/col-lg-8 -->

        <div class="col-lg-4">
            <h4>Contact Info</h4>
            <div class="hline"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
                <p>
                    Email: {{ site.email }}<br/>
                    Tel: {{ site.tel }}
                </p>
                <p>Have any questions or you want to hire us for a project? Feel free to contact us anytime. We will respond as quickly as we can.</p>
        </div>
    </div><! --/row -->
</div><! --/container -->
    
</div>


